:root {
  --primary-font: sans-serif;
  --secondary-font: "Playfair Display", serif;
}

body {
  font-family: var(--primary-font);
}

.hero {
  background-image: url(images/hero-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 300px 200px;
}

.hero-heading {
  position: absolute;
  top: 130px;
  color: white;
  font-size: 80px;
  text-transform: uppercase;
  font-family: var(--secondary-font);
}

.btn-branding {
  text-align: center;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 240px;
  padding: 15px 30px;
  border-radius: 4px;
  width: 240px;
  background-color: white;
  opacity: 70%;
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 200ms ease-in-out;
}

.btn-branding:hover {
  background-color: white;
  opacity: 100%;
}
