:root {
  --primary-font: sans-serif;
  --secondary-font: "Playfair Display", serif;
}

body {
  font-family: var(--primary-font);
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 80px 100px;
}

h2 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  margin-left: 30px;
}

nav a {
  text-decoration: none;
  color: black;
  transition: all 150ms ease-in-out;
}

nav a:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}

.hero {
  background-image: url(images/hero-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 300px 200px;
}

.hero-heading {
  position: absolute;
  top: 130px;
  color: white;
  font-size: 90px;
  text-transform: uppercase;
  font-family: var(--secondary-font);
}

.btn-branding {
  text-align: center;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 240px;
  padding: 15px 30px;
  border-radius: 30px;
  width: 140px;
  background-color: white;
  opacity: 70%;
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 200ms ease-in-out;
}

.btn-branding:hover {
  background-color: white;
  opacity: 100%;
}

video {
  max-width: 500px;
  display: block;
  margin: 0 auto;
}

footer {
  max-width: 100%;
  margin: 0 auto;
  padding: 80px 100px;
}
